<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light barra_navegacion">
        <div class="container-fluid">
            <!-- icono o nombre -->
            <div class="holo">
                <a class="navbar-brand logo" href="index" style="color: #000">
                    TIENDITA
                </a>

                <!-- boton del menu -->

                <button  class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- elementos del menu colapsable -->

            <div class="collapse navbar-collapse barra" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="listarProductos" style="color: black">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="listarClientes" style="color: black">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: black">Vendedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: black">Ventas</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>