<main>
    <div class="row inicioPag">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>TIENDA-VIRTUAL</h1>

            <p>¡Visite nuestra tienda y compre con nosotros hoy!</p>
            <p>¡Dale un nuevo look a tu outfit!</p>
            <!-- <p>Hemos ampliado gradualmente nuestro alcance y servicios, ofreciendo productos únicos a precios competitivos. Nuestros clientes saben que pueden confiar en nuestro amable y experto personal, siempre ansioso y disponible para ayudar. ¡Visite nuestra tienda y compre con nosotros hoy!</p> -->

            <button type="button" class="botonUnete" class="btn btn-info" data-toggle="modal"
                data-target="#inicioSesion">
                UNETE
            </button>
        </div>
    </div>

    <div class="servicios">
        <h2>ATENCION PERSONALIZADA</h2>
        <!-- <h2>  RESULTADOS HERMOSOS. ATENCION PERSONALIZADA</h2> -->

        <div class="row servicontenedor">
            <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 container">
                <div class="card">
                    <div class="imgBx">
                        <img
                            src="https://static.nike.com/a/images/t_default/98e71bc0-c9f4-4f3e-ac5f-c73bdd9a836f/air-zoom-pegasus-38-zapatillas-de-running-carretera-5HVSDm.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Tennis</h2>
                        <br /><br />
                        <a href="#">Catalogo</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 container">
                <div class="card">
                    <div class="imgBx">
                        <img src="https://www.newera.mx/blog/wp-content/uploads/2021/11/Producto.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Gorras</h2>
                        <br /><br />
                        <a href="#">Catalogo</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 container">
                <div class="card">
                    <div class="imgBx">
                        <img src="https://www.pngmart.com/files/7/Denim-Jean-Transparent-Images-PNG.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Jeans</h2>
                        <br /><br />
                        <a href="#">Catalogo</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md- col-lg-2 col-xl-2 container">
                <div class="card">
                    <div class="imgBx">
                        <img src="https://www.geomix.es/shop//images/0-0-71063.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Camisetas</h2>
                        <br /><br />
                        <a href="#">Catalogo</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 container">
                <div class="card">
                    <div class="imgBx">
                        <img
                            src="https://planetasport.vtexassets.com/arquivos/ids/182523-500-auto?width=500&height=auto&aspect=true" />
                    </div>
                    <div class="contentBx">
                        <h2>Busos</h2>
                        <br /><br />
                        <a href="#">Catalogo</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 container">
                <div class="card">
                    <div class="imgBx">
                        <img
                            src="https://media.revistagq.com/photos/60c85ca727e8735e0f6e8cdf/master/w_2090,h_1357,c_limit/ray%20ban%20aviator.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Gafas</h2>
                        <br/><br/>
                        <a href="#">Catalogo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="promociones1">
        <div class="promocionesCont">
            <h2>PROMOCIONES</h2>
            <p class="promociones4">
                ”Ropa para niños
            </p>
            <p class="promociones5">con un descuento del 75%”</p>

        </div>
    </div>
</main>